@model ProjectForTesting.Models.ModelTest

@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>
@{
    var model = new ProjectForTesting.Models.CalendarModel();
    model.Date = new DateTime(1988, 4, 24);
}


<div style="margin-left: 100px;">
    <input style="width: 150px; height: 30px; line-height: 30px;" type="text" readonly placeholder="Enter date ... " id="selected-date-id" name="calendar-date" value="" />

    @Html.Include("calendar", model)

    <input style="margin-top: 20px; width: 150px; height: 30px; line-height: 30px;" type="text" readonly placeholder="Date 1" value="" />
    <input style="margin-top: 20px; width: 150px; height: 30px; line-height: 30px;" type="text" readonly placeholder="Date 2" value="" />
    <input style="margin-top: 20px; width: 150px; height: 30px; line-height: 30px;" type="text" readonly placeholder="Date 3" value="" />
</div>

<script src="/lib/calendar.js"></script>
<script>
    TAG_ID_SELECTED_DATE = "#selected-date-id";
    IS_POSITION_ABSOLUTE = false;
    MARGIN_TOP = 3;
    IS_DISPLAY = true;
</script>
