
@{
    ViewBag.Title = "Donut";
}

<h2>Donut</h2>

<link href="~/Content/css/donut.css" rel="stylesheet" />

<ul class="chart-skills">
    <li>
        <span>CSS</span>
    </li>
    <li>
        <span>HTML</span>
    </li>
    <li>
        <span>PHP</span>
    </li>
    <li>
        <span>Python</span>
    </li>
</ul>